<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Lost and Found</title>
    <style>
        body {background-color: lightcyan;}
        h1 {color: darkblue;}
        h3 {color: darkcyan;}
        th {color: black;}
        td {color: black;}
        .jumbotron {background-color: lightcyan;}
    </style>
</head>

<body>


<div class="container">
    <div class="jumbotron">


        <div th:replace="Base :: navlinks"></div><br /><br />
        <h4>Add Lost Item</h4><br />
        <div sec:authorize="hasAuthority('USER')">
            <form action="#" th:action="@{/addlostitem}" th:object="${item}" method="post">

                <input type="hidden" th:field="*{id}" />
                Item Name: <input type="text" placeholder="Item Name" th:field="*{itemName}" /><br />
                Category : <input type="text" placeholder="Clothes, Pets or Other" th:field="*{category}" /><br />
                Image: <input type="text" placeholder="Image url" th:field="*{image}" /><br />
                Description: <input type="text" placeholder="Description" th:field="*{description}" /><br />
                <button class="btn btn-primary btn-large" type="submit" >Submit</button>

            </form>
        </div>

        <div sec:authorize="hasAuthority('ADMIN')">
            <form action="#" th:action="@{/addlostitemA}" th:object="${item}" method="post">

                <input type="hidden" th:field="*{id}" />
                Item Name: <input type="text" placeholder="Item Name" th:field="*{itemName}" /><br />
                Category : <input type="text" placeholder="Clothes, Pets or Other" th:field="*{category}" /><br />
                Image: <input type="text" placeholder="Image url" th:field="*{image}" /><br />
                Description: <input type="text" placeholder="Description" th:field="*{description}" /><br />
                <button class="btn btn-primary btn-large" type="submit" >Submit</button>

            </form>
        </div>





    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>